<div id="bugetStreak">
  <span>Anzahl der Erfolge, in denen du dein Budget eingehalten hast: {{budgetStreak}}</span>
</div>

<mat-grid-list cols={{breakpoint}} rowHeight="1:1" [gutterSize]="'-20%'">
  <mat-grid-tile *ngFor="let badge of badges">
    <mat-card class="card flex">
        <!-- Fortschrittsbalken -->
        <mat-progress-bar [class]="badge.farbeNaechsteStufe"  mode="determinate" [value]="badge.fortschritt">
        </mat-progress-bar>
        <!-- Bild -->
        <div class="circle" class="{{badge.farbe}}">
          <svg viewBox="0 0 24 24">
            <path fill="white" [attr.d]="badge.symbol"/>
          </svg>
        </div>
      <!-- Beschriftung -->
      <mat-card-header>
        <mat-card-title>{{badge.kategorieName}}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>