mat-toolbar {
    height: 6vh;
}

mat-sidenav-content {
    font-size: 200%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 0.5em;
}

a {
    font-size: 100%;
}

button {
    font-size: 100%;
    min-width: min-content;
}

.name {
    font-size: 130%;
}

.space-between {
    flex: 1 1 auto;
}