@import '../../styles.scss';

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
    flex-basis: 0;
}

.mat-content:only-child {
    margin-right: 8px;
}

.einzug {
    margin-right: 1em;
}

.mat-panel-description {
    color: black
}

#neue-ausgabe-hinzufuegen {
    color: $accent-color;
}
h1 {
    display: inline;
}